## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/challenge_city_data.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Qaanaaq,GL,77.48,-69.36,23.88,82,0,2.66,clear sky
1,1,Dubreuil,MU,-20.30,57.59,69.80,88,75,5.82,light intensity shower rain
2,2,Rikitea,PF,-23.12,-134.97,73.42,84,0,12.62,clear sky
3,3,Cauquenes,CL,-35.97,-72.32,51.12,79,0,0.81,clear sky
4,4,Skjervoy,NO,70.03,20.97,50.32,91,100,14.72,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
19,19,Kavieng,PG,-2.57,150.80,83.12,78,56,13.42,light rain
25,25,San Onofre,CO,9.74,-75.53,81.63,89,88,7.11,overcast clouds
26,26,Dwarka,IN,22.24,68.97,82.78,82,52,11.68,broken clouds
28,28,Hithadhoo,MV,-0.60,73.08,82.04,77,100,11.65,overcast clouds
29,29,Kapaa,US,22.08,-159.32,86.00,62,20,16.11,few clouds
38,38,Butaritari,KI,3.07,172.79,83.89,72,100,18.41,overcast clouds
43,43,Guasdualito,VE,7.24,-70.73,78.15,87,98,0.58,overcast clouds
44,44,Kharhial,IN,20.28,82.77,77.59,85,60,1.68,broken clouds
45,45,Marzuq,YE,14.40,46.47,79.12,50,45,3.47,scattered clouds
47,47,Hambantota,LK,6.12,81.12,79.74,71,100,18.97,overcast clouds

In [5]:
# 4. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             240
City                   240
Country                240
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Current Description    240
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
19,Kavieng,PG,83.12,light rain,-2.57,150.80,
25,San Onofre,CO,81.63,overcast clouds,9.74,-75.53,
26,Dwarka,IN,82.78,broken clouds,22.24,68.97,
28,Hithadhoo,MV,82.04,overcast clouds,-0.60,73.08,
29,Kapaa,US,86.00,few clouds,22.08,-159.32,
38,Butaritari,KI,83.89,overcast clouds,3.07,172.79,
43,Guasdualito,VE,78.15,overcast clouds,7.24,-70.73,
44,Kharhial,IN,77.59,broken clouds,20.28,82.77,
45,Marzuq,YE,79.12,scattered clouds,14.40,46.47,
47,Hambantota,LK,79.74,overcast clouds,6.12,81.12,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
19,Kavieng,PG,83.12,light rain,-2.57,150.80,Nusa Island Retreat
25,San Onofre,CO,81.63,overcast clouds,9.74,-75.53,Hotel Sinai
26,Dwarka,IN,82.78,broken clouds,22.24,68.97,Hotel Narayan Avezika Comfort
28,Hithadhoo,MV,82.04,overcast clouds,-0.60,73.08,Scoop Guest House
29,Kapaa,US,86.00,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
38,Butaritari,KI,83.89,overcast clouds,3.07,172.79,Isles Sunset Lodge
43,Guasdualito,VE,78.15,overcast clouds,7.24,-70.73,Hotel Cuibas
44,Kharhial,IN,77.59,broken clouds,20.28,82.77,Jeevan Chhaya
45,Marzuq,YE,79.12,scattered clouds,14.40,46.47,
47,Hambantota,LK,79.74,overcast clouds,6.12,81.12,Bungalow 63

In [16]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(axis=0)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
19,Kavieng,PG,83.12,light rain,-2.57,150.80,Nusa Island Retreat
25,San Onofre,CO,81.63,overcast clouds,9.74,-75.53,Hotel Sinai
26,Dwarka,IN,82.78,broken clouds,22.24,68.97,Hotel Narayan Avezika Comfort
28,Hithadhoo,MV,82.04,overcast clouds,-0.60,73.08,Scoop Guest House
29,Kapaa,US,86.00,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
...,...,...,...,...,...,...,...
703,Corpus Christi,US,88.00,broken clouds,27.80,-97.40,Holiday Inn Corpus Christi Downtown Marina
706,Tuy Hoa,VN,78.82,broken clouds,13.08,109.30,CenDeluxe Hotel Tuy Hoa
708,Matara,LK,77.61,overcast clouds,5.95,80.54,Amaloh Boutique Resort
710,Wenzhou,CN,75.83,clear sky,28.00,120.67,温州喜来登酒店
712,Kewanee,US,87.01,clear sky,41.25,-89.92,AmericInn by Wyndham Kewanee

In [18]:
# 8. Export the City_Data into a csv
hotel_df.to_csv('Vacation_Search/WeatherPy_vacation.csv')

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))